
*{
    margin: 5px;
    padding: 0%;
}

button{
  background-color: #000000; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.loginformcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#add-user-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  background-color: #fefefe;
  padding: 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



#add-pet-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
background-color: #fefefe;
padding: 15px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

#pet-form-container{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  }

  .formContent{
    flex:1;
    
    
  }

#pet-form-content{
background-color: green;
flex-direction: column;

  
 
}
#profile-pic{
  background-color: blue;
  

}


#header{
  width: 100%;
  display: flex;
  justify-content: right;
  flex-direction: row;
  background-color: rgb(128, 0, 79);
}

#pet-wraper{
  display:flex;
  justify-self: start;

}


  .close {
    position: flex;
    margin: 0%;
    padding: 0%;
    align-self:flex-end;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  


@media(max-width: 800px) {
    .parent {
        flex-direction: column;
    }
}